<html lang="en">
  <style>
    .btn {
      white-space: nowrap;
      text-align: center;
    }
  </style>
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div
      class="container d-flex align-items-center justify-content-center"
      style="height: 70vh"
    >
      <form>
        <div class="form-group my-2">
          <label for="InputUsername">Username</label>
          <input
            type="Username"
            class="form-control"
            id="InputUsername"
            placeholder="Username"
          />
        </div>
        <div class="form-group my-2">
          <label for="InputPassword">Password</label>
          <input
            type="password"
            class="form-control"
            id="InputPassword"
            placeholder="Password"
          />
        </div>
        <div class="form-group my-2">
          <label for="InputConfirmPassword">Confirm Password</label>
          <input
            type="confirmpassword"
            class="form-control"
            id="InpuConfirmPassword"
            placeholder="Confirm Password"
          />
        </div>
        <button type="submit" class="btn btn-primary my-2">Submit</button>
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
